.item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.btn {
    padding: 8px 16px;
    background-color: antiquewhite;
    border-radius: 4px;
    border-color: brown;
    height: 40px;
    margin: auto 0;
}

.btn:hover, .btn:focus {
    background-color: salmon;
}

.icon {
    padding-right: 8px;
}